.card{
    margin: auto;
}

.card-body{
    width: 600px;
    overflow: hidden;
}

.my-name{
    color: white;
    size: 25px;
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../images/ripples.png");
}

.heading{
    margin: auto;
    color: darkgray;
}

nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pic{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

p{
 font-family: Georgia, 'Times New Roman', Times, serif;
 }

 footer{
        width: 100%;
        height: 70px;
        background-color: #666666;
        border-top:solid 8px #4aaaa5;
        text-align: center;
        padding-top: 50px;
        position: sticky;
        bottom: 0;
        left: 0;
        color: white;
        font-size: 10px;
 }
