.card{
    margin: auto;
}

.card-body{
    width: 600px;
    overflow: hidden;
    border: black;
}

.my-name{
    color: white;
    size: 25px;
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../images/ripples.png");
}

.heading{
    color:teal;
    padding: 15px 15px 5px 20px;
    margin-bottom: 0;
    font-size: 30px;
}

nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
}

section{
    margin-top: 20px;
}

img{
    width:250px;
    height: 250px;
}

.pic{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

p{
 font-family: Georgia, 'Times New Roman', Times, serif;
 }

 footer{
        width: 100%;
        height: 70px;
        background-color: #666666;
        border-top:solid 8px #4aaaa5;
        text-align: center;
        padding-top: 50px;
        position: sticky;
        bottom: 0;
        left: 0;
        color: white;
        font-size: 10px;
 }

 .contact-group{
     width: 600px;
     margin: auto;
     margin-top: 20px;
     padding: 20px;
     background-color: white;
     border: solid 1px lightgray;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-bottom: 45px;
 }

 h2{
     color: teal;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .button{
    background: #4aaaa5;
    color: white;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 10px 15px 10px 15px;    
}

.portCont{
    width: 600px;
    background-color: white;
    margin: auto;
    border:darkgray solid 1px;
    align-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

h3{
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 15px 0px 10px;
}

.col{
    padding: 30px 30px 10px 15px;
}

.row{
    padding-left: 5px;
}

.banner{
    background-color: teal;
    width: 250px;
    position: relative;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.banner2{
    background-color: teal;
    width: 250px;
    position: relative;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.banner3{
    background-color: teal;
    width: 250px;
    position: relative;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.appBtn{
    background-color: teal;
    color: white;
}